body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

/* header */
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15rem;
}
  
h1 {
    font-size: 2.5rem;
    margin: .5rem;
}

.score_title {
    font-weight: bold;
    font-size: large;
    margin: .5rem;
}

#start_game_btn {
    margin: .5rem;
}

/* game board */
#game_board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 900px; 
    margin: 0 auto;
}

.hole {
    width: 200px;
    height: 200px;
    border: 2px solid brown;
    border-radius: 50%;
}

/* countdown */
.timer_title {
    position: fixed;
    top: 3rem;
    right: 20vw;
    font-weight: bold;
    font-size: large;
}

.timer_countdown {
    position: fixed;
    top: 5rem;
    right: 23vw;
    font-weight: bold;
    font-size: large;
}

/* images */
.mole_img {
    height: 200px;
    width: 200px;
}

.snake_img {
    height: 200px;
    width: 200px;
}